# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
/staticfiles/
/media/

# Environment
.env
.venv/
venv/
ENV/

# Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
